language: go

branches:
  only:
      - master
      - develop
matrix:
  include:
  go:
    - 1.2
    - 1.2.1
    - 1.2.2
    - 1.3
    - 1.3.1
    - 1.3.2
    - 1.3.3
    - 1.4
    - 1.4.1
    - 1.4.2
    - 1.4.3
    - 1.5
    - 1.5.1
    - 1.5.2
    - 1.5.3
    - 1.5.4
    - 1.6
    - 1.6.1
    - 1.6.2

before_install:
  - make get

install: true

after_script:
  - make uninstall
